# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Automake cache
autom4te.cache/
dependencies/gtest-1.7.0/autom4te.cache/

# Ignore build directory
build/debug/
build/release/
